<!DOCTYPE html>
<html>
<head>
  <title>MeasureLearn</title>
  <%= stylesheet_link_tag    "measure_learn/application", :media => "all" %>
  <%= javascript_include_tag "measure_learn/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
